<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Hive tracker</h1>
    </header>

    <main>
        <!-- <div> -->
        <!--     <h2>Hive 1</h2> -->
        <!--     <p>Weight: 20.0 kg</p> -->
        <!-- </div> -->
        <!-- <div> -->
        <!--     <h2>Hive 2</h2> -->
        <!--     <p>Weight: 20.0 kg</p> -->
        <!-- </div> -->
        <!-- <div> -->
        <!--     <h2>Hive 3</h2> -->
        <!--     <p>Weight: 20.0 kg</p> -->
        <!-- </div> -->
    </main>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <footer>
        <p>&copy; Linus Kåreblom</p>
    </footer>
</body>
</html>
